/*Barra de Navegacion*/

.navbar {
    padding: 2rem;
    background-image: url(images/fondoHero.png);
    color: white;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
  }

/*Boton descargar pdf*/
#descargarPDF {
    background-color: #137e8e; /* Fondo blanco */
    color: #000000; /* Texto negro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    text-decoration: none; /* Sin subrayado en el texto */
}

#descargarPDF:hover {
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar por encima */
}
/*Estilos Generales*/

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#foto-perfil {
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 50%;
}

h1 {
    font-size: 3.5rem;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: white;
    border-color: black;
}

.seccion-oscura {
    color: white;
    background-color: #1b1b32;
}

.seccion-clara {
    color: #1b1b32;
    background-color: white;
}

.seccion-titulo {
    font-size: 3.5rem;
    padding: 15px 0;
    font-family: 'Dancing Script', cursive;
}

.seccion-texto {
    font-size: 1.2rem;

}

.lista-personalizada {
    text-align: justify;
}

.btn-info {
    font-size: 1.1rem;
    margin: 20px;
}
/*Seccion hero*/

.hero {
    background-image: url(images/fondoHero.png);
    min-height: 500px;
    text-align: center;
    background-size: cover;
    background-position: center;
}


.hero-principal {
    padding: 3rem;
}

.hero-secundaria h2 {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Space Grotesk', sans-serif;
    border-color: black;
    margin: 10px;
}

/*Sobre mi*/
.sobre-mi {
    padding: 50px;
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}
.sobre-mi .contenedor2 {
    max-width: 1000px;
    text-align: center;
}

/*Seccion tecnologias*/
.tecnologias {
    padding: 50px;
    min-height: 50vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.logos-tecnologias {
    margin: 10px;

}

.logos-tecnologias img {
    transition: transform 0.2s;
}

.logos-tecnologias img:hover {
    transform: scale(1.2);
}

/*Educacion*/
.educacion {
    padding: 40px;
}

.educacion .container .columna h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.educacion .row .columna {
    border: 3px solid #1b1b32;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.educacion .row .columna:hover {
    color: white;
    background-color: #1b1b32;
}

/*Proyectos*/

.proyectos {
    padding: 40px;
    border: 2px solid #1b1b32;
}

.proyectos img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.proyecto {
    position: relative;
    border: 1px solid #1b1b32;
    display: flex;
}
.proyecto:hover .overlay {
    opacity: 1;
}

.proyecto:hover img {
    opacity: 0.2;
}

.overlay .iconos-contenedor {
    display: flex;
}

.overlay i {
    color: black;
    font-size: 50px;
}

/*Contacto*/
.contacto .container {
    max-width: 1110px;
    min-height: 200px;
    padding: 20px;
}

.contacto .rectangulo {
    margin-top: -5rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion {
    color: white;
    font-size: 1.2rem;
}

.contacto button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button i {
color: white;
font-size: 1.2rem;
transition: all 0.2s ease-in-out;
}

.contacto button:hover {
    background-color: white;
    color: #1b1b32;
}

.contacto button:hover i {
    color: #1b1b32;
}

/*Pie de pagina*/

footer {
    min-height: 500px;
  }
  
  .footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 50%;
  }
  
  .footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
  }
  
  .iconos-redes-sociales a:hover i {
    color: black;
  }
  
  .derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
  }

/*Adaptable responsivo*/

@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .hero-secundaria {
      flex-direction: column;
      text-align: center; 
    }
  }
  @media screen and (max-width: 767px) {
    .logos-tecnologias {
      flex-direction: column;
      text-align: center; 
    }
  }

  @media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }
    .overlay i {
        font-size: 40px;
    }
  }
